@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

#body{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('./background.jpg');
    background-size: cover;
    align-items: center;
}

#main-content{
    width: 80vw;
    height: 80vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 15%;
    left: 10%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

#main-content::-webkit-scrollbar {
    display: none;
}

#logo{
    background-color: white;
    position: absolute;
    width: 160px;
    height: 80px;
    top: 50%;
    font-size: 5em;
    font-family: 'Dorsa', sans-serif;
    padding: 0;
    text-align: center;
}

@media (max-width: 700px) {
    #main-content{
        height: 80%;
    }

    #logo{
        top: 0;
        width: 100%;
    }
}