#card-main{
    background-color: white;
    width: 30vw;
    max-height: 65vh;
    padding: 10px;
}

#artist-info{
    display: flex;
    align-items: center; 
    font-size: 0.9em;  
}

#artist-profile-img {
    height: 3.25em;
    border-radius: 50%;
    margin-right: 8px;
}

#artist-name {
    font-weight: bold;
}

#artist-screen-name{
    color: gray;
}

#tweet-text{
    font-size: 0.9em;
    margin: 10px 0px;
}

#tweet-media-div{
    display: flex;
    justify-content: center;
    max-height: 40vh;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

#tweet-media-content {
    height: 40vh;
}

#tweet-media-content{
    border-radius: 5px;
}

#tweet-timestamp {
    position: relative;
    margin-top: 2.5vh;
    color: gray;
    font-size: 0.75em;
}

@media (max-width: 700px) {
    #card-main{
        width: 70vw;
    }

    #tweet-media-div{
        display: flex;
        justify-content: center;
        max-height: 35vh;
        width: 100%;
        overflow: hidden;
        margin: auto;
    }

    #tweet-text{
        font-size: 0.8em;
    }
    
    #tweet-media-content {
        height: 35vh;
    }
}