@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

#body{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-image: url('./background.jpg');
    background-size: cover;
    align-items: center;
}

#main-content{
    width: 80vw;
    height: 80vh;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 15%;
    left: 10%;
}

#logo{
    background-color: white;
    width: 160px;
    height: 80px;
    position: absolute;
    top: 50%;
    font-family: 'Dorsa', sans-serif;
    font-size: 5em;
    padding: 0;
    text-align: center;
}