#main{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.nav-option{
    height: 14vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4vw;
    font-size: 30px;
    cursor: pointer;
}

.selected{
    border-bottom: 5px solid white;
}